{% extends "admin/base.html" %} {% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Add Certification</h2>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.title.label(class="form-label") }} {{
        form.title(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.organization.label(class="form-label") }} {{
        form.organization(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.issue_date.label(class="form-label") }} {{
        form.issue_date(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.credential_url.label(class="form-label") }} {{
        form.credential_url(class="form-control") }}
      </div>

      <div>{{ form.submit(class="btn btn-dark") }}</div>
    </form>
  </div>
</div>

{% endblock %}
