{% extends "admin/base.html" %} {% block content %}

<h2 class="mb-4">Project</h2>

<div class="card shadow-sm">
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Project Name</label>
          {{ form.name(class="form-control") }}
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Featured</label>
          <div class="form-check mt-2">
            {{ form.featured(class="form-check-input") }}
            <label class="form-check-label"> Show as featured project </label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        {{ form.description(class="form-control", rows="4") }}
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Github Link</label>
          {{ form.github_link(class="form-control") }}
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Live Demo</label>
          {{ form.live_link(class="form-control") }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Skills Used</label>

        {{ form.skills(class="form-select", id="skills-select") }}
      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-dark">Save Project</button>

        <a
          href="{{ url_for('admin.projects_list') }}"
          class="btn btn-secondary"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
